// $card-color-top : hsl(229, 23%, 23%);
// $card-color-bg:  hsl(227, 10%, 46%);
// $font-family: san
// $font-weight: 400, 700;
// color{
//     background-color: hsl(185, 75%, 39%);
    
// }

body{
    background-color:  hsl(185, 75%, 39%);
}
main{
    width: 100%;
    margin: 5% auto;
    // padding: 5% auto;
    background-color: white;
    height: 100vh;
    border-radius: 7% 7% 0px 0px;
}

@media(min-width: 479px){
    main{
        width: 100%;
        margin: 5% auto;
        // padding: 5% auto;
        background-color: white;
        height: 100vh;
        border-radius: 7% 7% 0px 0px;
    }
}
@media(min-width:480px){
    main{
        width: 100%;
        margin: 5% auto;
        // padding: 5% auto;
        background-color: white;
        height: 100vh;
        border-radius: 7% 7% 0px 0px;
    }
}
@media(min-width:481px){
    main{
        width: 70%;
        margin: 5% auto;
        // padding: 5% auto;
        background-color: white;
        height: 100vh;
        border-radius: 7% 7% 0px 0px;
    }
}
@media(min-width:740px){
    main{
        width: 50%;
        margin: 5% auto;
        // padding: 5% auto;
        background-color: white;
        height: 110vh;
        border-radius: 7% 7% 0px 0px;
    }
}
@media(min-width:1200px){
    main{
        width: 30%;
        margin: 5% auto;
        // padding: 5% auto;
        background-color: white;
        height: 110vh;
        border-radius: 7% 7% 0px 0px;
    }
}
@media(min-width:1195px){
    main{
        width: 30%;
        margin: 5% auto;
        // padding: 5% auto;
        background-color: white;
        height: 110vh;
        border-radius: 7% 7% 0px 0px;
    }
}
.card-top{
    background-image: url("/images/bg-pattern-card.svg");
    height: 35vh;
    border-radius: 7% 7% 0px 0px;
}
.img-div{
    width: 50%;
    // background-color: green;
    margin: 20%;
    margin-bottom: 0%;
}
img{
    border-radius: 50%;
    width: 100%;
    margin-top: 40%;
    margin-bottom: 0%;
    // margin-right: 20%;
    // margin-left: 20%;
    border: 10px solid white;

}


.card-text-1{
    padding-top: 0%;
    // margin-top: -10%;
    text-align: center;
    p{
        font-weight: bolder;
        font-size: large;
    }
    span{
        font-weight: 300;
        margin-bottom: 45%;
        padding-bottom: 50%;
    }
}
hr{
    margin-top: -2%;
}
.card-text-2{
    display: flex;
    // width: 20px;
  
    // padding: 2px 30%;
    width: 100%;
    margin: -5% auto;
    text-align: center;
    div{
        display: flex;
        margin: auto;
        // background-color: yellow;
    }

    p{
        padding:2%;
        font-weight: bold;
    }
    span{
        padding: 2%;
        font-weight: 300;
    }

}


